<div class="nav-dark container page-head">
  <div class="row">
    <a [routerLink]="['/']"> <img class="logo" src="/assets/logo.png" /></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>{{ story?.name }}</h3>
      <h2>{{ node?.name }}</h2>
      <p><strong>Story and Notes</strong></p>
      <div [innerHtml]="node?.description"></div>
      <div *ngIf="decisions?.length > 0">
        <p><strong>Decisions</strong></p>
        <div *ngFor="let decision of decisions">
          <button id="door-{{ decision.name }}" style="float: left; margin-right: 8px;"
            class="mat-elevation-z3 btn-gradient btn btn-primary" (click)="makeDecision(decision.id, game.id)"><span
              [innerHtml]="decision.name"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
