<div class="nav-light container-fluid page-head mat-elevation-z3">
  <div class="row">
    <div class="container">
      <div class="navbar">
        <div class="navbar-nav">
          <img class="logo" width="159" height="39" src="/assets/logo-light.png">
        </div>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Modules</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">

      <h2>My Modules</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8 storylist" *ngFor="let story of stories">
      <div class="story" (click)="newGame(story.id)">
        <h2>{{ story.name }}</h2>
        <p>{{ (story.description.length>255)? (story.description | slice:0:255)+'..':(story.description) }}</p>
        <p>Last Edited: {{ story.updated_at | date: medium }}</p>
      </div>
    </div>
    <div class="col-4">
      <button class="mat-elevation-z3 btn-gradient btn btn-primary">Create Story</button>
    </div>
  </div>
</div>
