@import "styles-variables";

@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

html,
body {
  height: 100%;
}

.page-head .logo {
  margin: 10px 15px 30px;
}

.nav-light {
  display: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #D8D8D8;
  background-color: rgba(79, 109, 174, 1);
  background: rgba(79, 109, 174, 1) linear-gradient(180deg, rgba(35, 47, 101, 1) 0%, rgba(79, 109, 174, 1) 100%);
  font-weight: 300;
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: 0;
  line-height: 1.5em;
}

body.page-light {
  background: #fff;
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: .6rem;
}

a {
  color: #D8D8D8 !important;
}

button.btn-gradient {
  background: linear-gradient(180deg, rgb(53, 91, 166) 0%, rgba(36, 48, 103, 1) 100%) !important;
  border: 2px solid #576cb2 !important;
  border-radius: 2px;
  font-weight: 300;
  padding: 10px 18px;
  height: 70px;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #3f51b5;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 24px;

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .navbar-brand {
      font-size: 22px;
    }
  }
}

.page-header {
  padding-left: 15px h1 {
    margin: 20px 0 10px;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 36px;
  margin: 10px 0 30px;
}

h3 {
  font-size: 18px;
}


.page-light {
  color: #75777a;

  .page-head .logo {
    margin: 5px -15px 5px;
  }

  .btn-gradient {
    width: 100%;
    height: auto;
  }

  .nav-light {
    display: block;
    margin-bottom: 30px;
  }

  .nav-darK {
    display: none !important;
  }

  .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #808285;
    font-weight: 600;
  }

  .story {
    border: 1px solid #EBEBEB;
    padding: 3px 15px;
  }

  h1,
  h2,
  h3 {
    color: #75777a;
  }
}
