<div class="container content">
  <!-- container centers content on large screens -->
  <div class="row">
    <!-- responsive row has 12 columns by default -->
    <div class="col-md-12">
      <!-- uses 6 columns on medium and larger screens... -->

      <mat-card>
        Home Test
      </mat-card>
    </div>
  </div>
</div>
